<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>Simple Node Html</title>
        <!-- Put stylesheet here -->
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
        <!-- Header -->
        <%- include( 'partials/header.html' ) %>
        <!-- Page body -->
        <%- body %>
        <!-- Footer -->
        <%- include( 'partials/footer.html' ) %>

        <!-- Put JS here -->
    </body>
</html>
